body {
  height: 100%;
  margin: 0;
  background-image: url("/images/sunrise.JPG");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(209, 204, 204, 0);
  overflow: hidden;
  width: 75%;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 75px;
}

h2 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: oblique;
  text-align: center;
  width: 100%
}

.float-child {
  width: 40%;
  float: left;
}

#info {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#photos {
  background-color: rgba(157, 216, 255, 0.877);
  border-radius: 10px;
  padding: 20px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.numbertext {
  color: #fdfafa;
  font-size: 20px;
  padding: 20px 30px;
  position: absolute;
  top: 7%;
}

.slides {
  display: none;
  border-radius: 10px;
  margin: auto;
  width: 100%;
}

.active-slide {
  display: block;
}

.prev-button, .next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 32px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
}

.next-button {
  right: 0;
}

.collapsible {
  background-color: rgba(157, 216, 255, 0.877);
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: oblique;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: inset;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 30px;
}

.content {
  padding: 0 18px;
  background-color: rgba(255, 188, 120, 0.76);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
