body {
  background-color: lightGray;
}

#page {
  margin-left: auto;
  margin-right: auto;
  border-left-style: inset;
  border-right-style: outset;
  background-color: gray;
  overflow: hidden;
  width: 75%;
}

.float-child {
  width: 50%;
  float: left;
}

#photos {
  background-color: white;
  border-radius: 10px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.numbertext {
  color: #fdfafa;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slides {
    display: none;
    width: 100%;
}

.prev-button, .next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
}

.next-button {
  right: 0;
}

.collapsible {
  background-color: rgb(253, 253, 253);
  color: rgb(108, 108, 110);
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: inset;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.content {
  padding: 0 18px;
  background-color: LightGray;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
